{% for event in site.data.events %}
  <section class="container content-section text-center">
    {% if site.data.events.size == 1 %}
    <div class="row justify-content-center text-center">
    {% else %}
    <div class="row justify-content-center text-center">
    {% endif %}

      <div class="col-lg-offset-2 col-lg-8">
        <h2>
          {{ event.name }}
          <br>
          <small class="text-muted wrap-whitespace date-subheader">
            {% if event.date %}
              {{ event.date | date: '%A, %B %e, %Y' }} | {{ event.date | date: '%l:%M %p' }}
            {% else %}
              {{ event.date_alt }}
            {% endif %}
          </small>
        </h2>

        <div class="justify-content-between align-items-center text-center">
          <address class="col-xs-8 ">
            {% if event.location_name %}
            <strong>{{ event.location_name }}</strong><br>
            {% endif %}
            {% if event.location.google_maps_url %}
            <a href="{{ event.location.google_maps_url }}">
              {{ event.location.address }}<br>
              {{ event.location.city }}, {{ event.location.state }} {{ event.location.zip }}<br>
            </a>
            {% endif %}
          </address>

        <p>{{ event.description }}</p>
        
        {% if event.transportation %}
          <p><em>{{ event.transportation }}</em></p>
        {% endif %}

        {% if event.shuttle %}
          <p><em>{{ event.shuttle }}</em></p>
        {% endif %}

      </div>
    </div>
  </section>
{% endfor %}
