<section class="container content-section text-center">
    <div class="row justify-content-center">
      <div class="col-lg-offset-2 col-lg-8">    
        <h2>Logistics</h2>
        <p>
          As you may have noticed already our wedding ceremony is being held in Parkstone, near Poole, whilst our reception venue is in a little parish in North Dorset called Shillingstone.
          This means there will be a 40 minute journey from the Church to our wedding reception venue and hence the afternoon proceedings will start from 2pm.
        </p>
        </p>
        <a href="https://www.google.com/maps/dir/Wellington+Road,+Poole+BH14+9LF/Shillingstone+House,+Shillingstone+House,+Shillingstone,+Blandford+Forum/@50.8171971,-2.0585004,11z/data=!4m14!4m13!1m5!1m1!1s0x4873a1396cc4894b:0x7d301c5efc2413ac!2m2!1d-1.9394014!2d50.721696!1m5!1m1!1s0x4873b352877d821f:0xc670e7b113dc2830!2m2!1d-2.2522799!2d50.8973549!3e0?entry=ttu">Directions</a>
      </div>
  </section>
  <section class="container content-section text-center">
    <div class="row justify-content-center">
      <div class="col-lg-offset-2 col-lg-8">
        <h2>Where to Stay</h2>
        <p> If you are staying the night or longer, then here are a few options with regards to accommodation...</p>
        <strong>1. Stay near Shillingstone</strong>
            <p>Shillingstone is the epitome of English countryside and if you want to stay clear of the hustle and bustle then there are plenty of <a href="https://www.airbnb.co.uk/s/Shillingstone--United-Kingdom/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2024-01-01&monthly_length=3&price_filter_input_type=2&channel=EXPLORE&query=Shillingstone%2C%20United%20Kingdom&place_id=ChIJRSCBHlGzc0gRYL_JbZb2uV0&date_picker_type=calendar&checkin=2024-08-09&checkout=2024-08-11&adults=4&source=structured_search_input_header&search_type=user_map_move&price_filter_num_nights=2&ne_lat=50.994947855536736&ne_lng=-2.0754767554147975&sw_lat=50.76139240703919&sw_lng=-2.388061793733897&zoom=11.443328064107455&zoom_level=11.443328064107455&search_by_map=true" target="_blank">Airbnbs </a>local to Shillingstone.</p>
            <br>
            <p>Blandford Forum is also 10 minute journey away and boasts hotels like<a href="https://www.crownhotelblandford.co.uk/">The Crown.</a></p>
            <p><a href="https://www.shillingstonehouse.co.uk/accomodation-and-pubs" target="_blank">The Shillingstone House website also has some ideas</a></p>
            <br>
            <p>The chosen venue allows camping and campervans should you wish to stay the overnight at the venue. You will not need to vacate the premises Sunday and you will have access to the toilet facilities as these don't get taken away till Monday.<strong>If you wish to do this please let us know in the RSVP so we can gauge numbers.</strong></p>
        <br>
        <strong>2. Stay in Poole / Bournemouth</strong>
        <p>
            If you are staying longer than just one night you may want to be in accessible distance to the beach and towns of Poole and Bournemouth. Staying in Poole would mean you are closer to the Church.
            <a href="https://www.airbnb.co.uk/s/Cotes-Avenue--Poole-BH14-0ND--UK/homes?tab_id=home_tab&refinement_paths%5B%5D=%2Fhomes&flexible_trip_lengths%5B%5D=one_week&monthly_start_date=2024-01-01&monthly_length=3&price_filter_input_type=2&channel=EXPLORE&query=Cotes%20Avenue%2C%20Poole%20BH14%200ND&date_picker_type=calendar&checkin=2024-08-07&checkout=2024-08-11&adults=4&source=structured_search_input_header&search_type=autocomplete_click&price_filter_num_nights=2&zoom_level=11&place_id=ChIJSY8Z0rSmc0gRNGOx1UYJUOk" target="_blank">Check out Airbnbs close to our home and the Church</a>
            <a href="https://www.booking.com/searchresults.html?ss=Poole%2C+Dorset%2C+United+Kingdom&label=gen173nr-1FCAEoggI46AdIM1gEaFCIAQGYATG4ARfIAQzYAQHoAQH4AQKIAgGoAgO4AsmY0asGwAIB0gIkNTdkYTc2NDMtM2NkYy00MzVmLThhZTUtZDQyZWUzNmYwY2Vm2AIF4AIB&aid=304142&lang=en-us&sb=1&src_elem=sb&src=index&dest_id=-2605541&dest_type=city&ac_position=0&ac_click_type=b&ac_langcode=en&ac_suggestion_list_length=5&search_selected=true&search_pageview_id=049e4f24e0e60098&ac_meta=GhAwNDllNGYyNGUwZTYwMDk4IAAoATICZW46BVBvb2xlQABKAFAA&checkin=2024-08-09&checkout=2024-08-11&group_adults=2&no_rooms=1&group_children=0&sb_travel_purpose=leisure" target="_blank">Also see Booking.com hotels nearby</a>
        </p>
        <strong>
            Be mindful that East Dorset is a busy summer holiday destination and with our wedding being in school holidays the area will be busier and more expensive than usual.
            However at the time of writing we found plenty of smaller places available.
            If you need any help don't hesitate to ask. 
          </strong>
      </div>
    </div>
  </section>

  <section class="container content-section text-center">
    <div class="row justify-content-center">
      <div class="col-lg-offset-2 col-lg-8">
        <h2 id="music">Music</h2>
        <p>We'd love to get your contribution to our wedding weekend playlist. There will be a live band on in the evening of the reception but if there are any songs that you particulary want to request do leave them in
          the rsvp or add them on our public <a href="https://open.spotify.com/playlist/3NOj4aypgWFowZEmrp10vJ?si=a45904e3b71349f5" target="_blank">Spotify playlist</a>.
        </p>
  </section>

  <section class="container content-section text-center">
    <div class="row justify-content-center">
      <div class="col-lg-offset-2 col-lg-8">
        <h2 id="gift-list">Gift List</h2>
        <p>Your presence on the day is a gift in itself but if you feel you want to get us a little something we have put together a John Lewis gift list with lots of ideas on.
        </p>
  </section>