<section class="container content-section">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <h2>Gifts</h2>
        <p>Update 2024-01-29: Hannah and I did make an original gift list on the John Lewis website, however we've found alot of things we originally picked are out of stock!
            We'll be adjusting the list and re-posting in the coming weeks. Should you still wish to see the original list you can find it <a href="https://www.johnlewis.com/wish-list/TFWQMQF?tmcampid=7&tmad=c&s_share=jlappios_wishlist_bmV0LndoYXRzYXBwLldoYXRzQXBwLlNoYXJlRXh0ZW5zaW9u" target="_blank">here.</a>
        </p>
      </div>
    </div>
  </section>
  